<html>
<head>
  <meta charset="UTF-8">
  <title>Tỷ giá</title>
  <style>
  html {
    height: 100%;
  }

  body {
    height: 100%;
  }
  </style>
</head>
<body>
  <script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
  </script>
  <iframe
  <iframe id="fr2" style="border: none;" src="//www.tygia.com/api.php?column=1&amp;title=0&amp;chart=0&amp;gold=0&amp;rate=1&amp;expand=1&amp;color=aa1111&amp;nganhang=VIETCOM&amp;fontsize=200&amp;ngay=" width="100%" height="100%"></iframe>
</body>
</html>
